@import url('https://fonts.googleapis.com/css?family=Anton|Lato:300,400,900');
body{margin:0}
p{padding:0 5vw;font: 1.15em 'Lato', sans-serif;}
b{font-weight:900;}
html{font:900 1em 'Lato', sans-serif;}
a{text-decoration: none;color:inherit;transition:all 150ms;}
a:hover{color:#C9C9C9!important;}
/*IDs*/
	#pull-button{transition:all 150ms;cursor: pointer}
	#pull-button:hover{color:#C9C9C9}
	#mast-sbc{
		grid-area:sbc-links;
		text-align:right;
		padding-right:16px;
		color:#FFF!important;}
	#mast-crap-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-area:right;
		background-color:#264773;
		border-bottom: 4px #3974BF solid;
	}
	#mast-crap-container > a{
		color:#FFF;
		padding:0 8px;
	}
	#masthead{
		background:#3D3D3D;
		color:#CCC;
		display:grid;
		z-index: 2;
		line-height:50px;
		text-align: center;
		grid-area:mast;
		grid-template-rows:auto;
		grid-template-columns:4fr 1fr 1fr 1fr auto;
		grid-template-areas:
		"logo home-b right . sbc-links";
		text-transform: uppercase;
		box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5)}
	#masthead> a:visited{
		color:#FFF;
		padding:0 8px;
	}
	#mast-crap-container > a:nth-child(n+1){
		background-color:#4C4C4C;
		height:100%;
	}
	#content{
		display:grid;
		grid-template-columns:1fr 5fr 1fr;
		grid-template-rows:100%;
		grid-template-areas:". mast ."". body .";
	}
	#content h1{
		font: 4rem 'Anton', sans-serif;
		text-transform: uppercase;
	}
/*Classes*/
	.crap-head-img{background-size:cover!important;height:7rem;width:22rem;}
	.hidebig{display:none}
	.active{background-color:#3974BF!important;}
	.mast-button{background-color:#3D3D3D;color:#FFF}
/*Responsive Website Section*/
	@media (max-width: 1125px){
		.hidebig{display:block}
		p{padding:0 15vw;font-size: 2em;}
		#mast-sbc{text-align: inherit;line-height: inherit}
		#masthead{
			grid-template-rows:80px 60px;
			grid-template-columns:1fr 1fr 1fr;
			grid-template-areas:
			"logo logo logo" 
			"home-b pages-b sbc-links";
			line-height:60px;
			font-size:1.5em;
			width:100vw;
			}
			.crap-head-img{margin:auto;}
		#mast-crap-container{
			position:absolute;
			transition: all 150ms;
			top:0px;
			z-index: -1;
			width:100%;
			display:grid;
			grid-template-columns:1fr 1fr 1fr 1fr;
			grid-template-rows:1fr;
			
		}
		#content{
			grid-template-columns:1fr;
			grid-template-areas:"mast""body";
			margin: auto;
			text-align:center;
		}
	}
